<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/menu :: head">

</head>

<body>

	<header th:replace="layout/menu :: header"></header>

	
		
				<table th:fragment="lista" class="table table-hover table-striped table-bordered">
					<tr>
						<th>Nº</th>
						<th>Pelicula</th>
						<th>Tipo</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th>Sala</th>
						<th>Precio</th>
						<th>Estado</th>
						<th>Opciones</th>
					</tr>
					<tr th:each="horario,iterStat: ${horarios}"
						th:class="${iterStat.count}? 'count'">
						<td th:text="${iterStat.count}"></td>
						<td th:text="${horario.peliculaTipo.pelicula.titulo}"></td>
						<td th:text="${horario.peliculaTipo.tipo.nombre}"></td>
						<td th:text="${horario.fecha}"></td>
						<td th:text="${horario.hora}"></td>
						<td th:text="${horario.sala.nombre}"></td>
						<td th:text="${horario.precio}"></td>
						<td><span th:if="${horario.estado == true}" th:text="Activo"
							class="label label-success"></span> <span
							th:if="${horario.estado != true}" th:text="Inactivo"
							class="label label-success"></span></td>
						<td><a th:href="@{/horarios/form/} + ${horario.id}"
							class="btn btn-success btn-sm" role="button" title="Edit"><span
								class="glyphicon glyphicon-pencil">Modificar</span></a> 
				<!--  			<input type="button" th:id="${horario.id}" value="Eliminar2"
							th:if="${horario.estado == true}" onclick="alerta(this.id);"
							class="btn btn-danger btn-sm" role="button" title="Eliminar">
				-->			
							<a
								th:if="${horario.estado == true}" onclick="return confirm('Estas seguro que desea eliminar?');"
								th:href="@{/horarios/eliminar/} + ${horario.id}"
								class="btn btn-danger btn-sm" role="button" title="Eliminar"><span
								class="glyphicon glyphicon-trash">Eliminar</span></a>
						</td>
					</tr>

				</table>
			
	<footer th:replace="layout/menu :: footer"> </footer>
	<script th:replace="horarios/js/javascript :: javascript"></script>
	<script>
		$(function() {
			$("#fecha").datepicker({
				dateFormat : 'dd-mm-yy'
			});

		});
	</script>

</body>
</html>