<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/menu :: head">

</head>

<body>

	<header th:replace="layout/menu :: header"></header>

	<div class="container">
		<br><h2 ><span th:text="${titulo}" class="badge badge-dark"></span></h2> <br>

		<form  th:object="${horario}" th:action="@{/horarios/form}"
					 method="post">

			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="fecha">Fecha:</label> <input type="text" th:field="*{fecha}"
																										 class="form-control" name="fecha" id="fecha" required="required" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="sala" class="control-label">Sala:</label> <select th:field="*{sala}"
																																					id="sala" name="sala" class="form-control">
						<option th:each="sal: ${salas}" th:value="${sal.id}"
										th:utext="${sal.nombre}" />

					</select>
					</div>
				</div>
				<div class="col-sm-1">
					<div class="form-group">
						<label for="sala" class="control-label" style="color: white;">Sala:</label>
						<input class="btn btn-info " type="button" value="Filtrar"
									 onClick="filtrar();">
					</div>

				</div>

			</div>
			<div class="row">

				<button  type="submit" class="btn btn-success">Adicionar</button>
			</div>
		</form>

		<br>
		<div id="mostrar"></div>
		<hr class="featurette-divider">
	</div>
	<footer th:replace="layout/menu :: footer"> </footer>
	<script th:src="@{/js/horarios/horarios.js}"></script>
	<script>
		$(function() {
			$("#fecha").datepicker({
				dateFormat : 'dd-mm-yy'
			});

		});
	</script>

</body>
</html>