<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/menu :: head">

</head>

<body>

	<header th:replace="layout/menu :: header"></header>

	<div class="container">




		<div th:fragment="resultsList">
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="idPelicula" class="control-label">Pelicula</label> <select
							onchange="cambio()" id="pelicula" name="pelicula"
							class="form-control">
							<option th:value="todas" th:utext="Todas">
							<option th:each="peli: ${listaPeliculas}" th:value="${peli.id}"
								th:utext="${peli.titulo}" />
						</select>

					</div>
				</div>
				<div class="col-sm-5"></div>
				<div class="col-sm-2">
					<div class="form-group">
						<input type="submit" class="btn btn-success" role="button"
							title="Nueva Venta" value="Imprimir">

					</div>
				</div>


			</div>
			<div id="listarPorPelicula">
				<div class="row">

					<table class="table table-hover table-striped table-bordered">
						<tr>
							<th>N</th>
							<th>Pelicula</th>
							<th>Fecha / Hora</th>
							<th>Cliente</th>
							<th>Vendedor</th>
							<th>Estado</th>
							<th>Descuento</th>
							<th>Subtotal</th>

						</tr>
						<tr th:each="lista,iterStat: ${lista}"
							th:class="${iterStat.count}? 'count'">
							<td th:text="${iterStat.count}">titulo</td>
							<td
								th:text="${lista.ptitulo} +' / '+ ${lista.tnombre} +' / '+  ${lista.taudio}"></td>
							<td th:text="${lista.vfecha} +' / '+  ${lista.vhora}"></td>
							<td
								th:text="${lista.cnombre}  +' '+ ${lista.capellido1}  +' '+ ${lista.capellido2}"></td>
							<td
								th:text="${lista.unombre}  +' '+ ${lista.uapellido1}  +' '+ ${lista.uapellido2}"></td>
							<td><span th:if="${lista.vestado == '1'}"
								th:text="Pagada" class="label label-success"></span> <span
								th:if="${lista.vestado != '1'}" th:text="Anulada"
								class="label label-success"></span></td>
							<td th:text="${lista.dnombre}+' '+ ${lista.dporcentaje}"></td>
							<td th:text="${lista.dvsubtotal}"></td>

						</tr>


					</table>
				</div>

				<div class="row">
					<div class="col-10"></div>
					<div class="col-2">
						Total: <span th:text="${total.total}"></span>

					</div>

				</div>
			</div>
		</div>



		<hr class="featurette-divider">
	</div>

	<footer th:replace="layout/menu :: footer"> </footer>
	<script>
		
	</script>


</body>
</html>